a{
    text-decoration:initial!important;
}

main{
    max-width:initial;
    padding:0;
}

.app-bar{
    background: #29333B;
    padding:10px;
    z-index:10;
}

.app-bar .logo{
    font-size:62px;
}

.app-bar-container{
    background:none;
}

.color--white{
    color: #fff;
}

.center{
    text-align:center;
}

.editorial-header{
    height:160px;
}

#code > .highlight-module--code{
    margin-top:0px;
}

#code > pre{
    background:white;
}

.navdrawer-container {
    background-color:#F0F0F0;
}
.navdrawer-container ul li a:hover{
    background-color:#29333B;
    border-top:1px solid #56EFA5;
    color:white;
}

.navdrawer-container ul li a {
    color:#3372DF;
}

.highlight-module--remember::after{
    background:#3372DF;
}

.example{
    text-align:center;
}

unity-web-player{
    margin:auto;
}

@media only screen and (max-width: 799px) and (min-width: 620px){
    .g-medium--push-1{
        margin-left:0px!important;
    }
}

@media only screen and (max-width: 1000px){

    body{
        padding-top:60px;
    }
    .app-bar{
        padding:0px;
    }
    .app-bar .logo{
        font-size:42px;
    }
}

made-with-love::shadow .heart{
    color:#3372DF;
}

footer{
    background:#eee;
    margin-top:50px;
    padding:35px;
    padding-bottom:80px;
    height: 160px;
}

footer > .made{
    text-align:center;
}
